{#
/**
 * @file mass_times.html.twig
 * Default theme implementation to present Mass times data.
 *
 * This template is used when viewing Mass times pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mass_times()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mass_times') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
